<div class="container">
  <h1 style="text-align:center">Parent </h1>

  <ul class="list-group">
    <li class="list-group-item list-group-item-warning">
      <h3>Child One</h3>
      <hr>
      <p>parent send object to child</p>
      <app-child-one *ngFor="let currentItem of parentList" [childInput]="currentItem"></app-child-one>
    </li>
    <li class="list-group-item list-group-item-info">
      <h3>Child Two</h3>
      <hr>
      <p>child send object to parent</p>
      <app-child-two (newObj)="onAddObjParent($event)"></app-child-two>
    </li>
    <li class="list-group-item list-group-item-secondary">
      <h3>Child Three</h3>
      <hr>
      <app-child-three></app-child-three>
    </li>
    <li class="list-group-item list-group-item-success">
      <h3>Child Four</h3>
      <hr>
      <p>componenet and local reference</p>
      <app-child-four *ngFor="let currentItem of parentList" [childInput]="currentItem">
          <li class="list-group-item">name is {{currentItem.name}} , number is {{currentItem.number}}</li>
      </app-child-four>
    </li>

  </ul>


</div>